body {
    font-family: 'Roboto', sans-serif;
    }

.header1 {
    background-color: #1F2937;
    color: white;
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}