* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(40vh - 50px);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(40vh - 5px);
    padding-right: 20px;
    padding-left: 280px;
    background-color: white;
}

article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(40vh - 50px);
    background-color: #E5E7EB;
    padding-right: 280px;
    padding-left: 390px;
    padding-top: 180px;
    padding-bottom: 180px;
}

summary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: calc(40vh - 50px);
    padding-right: 280px;
    padding-left: 390px;
}

.blue {
    background-color: #3882F6;
    border-radius: 8px;
    height: 140px;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.call {
    color: white;
}

.signother {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    width: 14%;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 8px;
    border: solid white;
}

h2 {
    color: white;
}

.bquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #3e3e3e;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    font-weight: 900;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 200px;
    gap: 30px;
    width: 67%;
}

.info {
    text-align: center;
}

.text {
    color: rgb(69, 69, 69);
    max-width: 150px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 30px;
    margin-bottom: -44px;
}

.hero-img {
    max-width: 450px;
    height: auto;
}

.content-left {
    width: 30%;
    padding-right: 20px;
}

.content-right {
    width: 32%;
    height: 200px;
    background-color: rgb(104, 104, 104);
    display: flex;
    align-items: center;
    justify-content: center;
}

header, main {
    background: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding-bottom: 10px;
}

p {
    padding-bottom: 10px;
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

button.signup {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 8px;
    border: 0;
}


/*.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size:  36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 52px;
}

.info {
    max-width: 200px;
}*/

img {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}



